body{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form >.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 15px 1px 15px 1px;
}
#textName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1px 15px 20px 15px;
    padding: 10px 10px 10px 10px;
    height: 30px;
    width: 200px;
}

#textEmail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1px 15px 20px 15px;
    padding: 10px 10px 10px 10px;
    height: 30px;
    width: 200px;
}

#textMessage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1px 15px 20px 15px;
    padding: 5px;
    height: 100px;
    width: 50%;
    resize: none;
    background-position: bottom right;
	background-repeat: no-repeat;
    background-color: #e9e6e6;
    border: 3px solid #cccccc;
	font-family: Tahoma, sans-serif;
    
}
button{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    width: 100px;
    margin: 1px 15px 20px 15px;
    border-radius: 15px 15px 15px 15px;
}
