body {
    font-family: "open sans", sans-serif;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: #000;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    width: 100vw;
}

.header {
    justify-content: space-between;
    padding: 14px 9px;
}

.header a,
.header a:visited {
    color: #08a;
}

.header a:hover {
    color: #069;
}

#currentturn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px;

}

.timer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 75%;
    margin: 200px;
    padding: 10px;
    background:  #2dc2c2;
    opacity: 80%;
    color: #fff; 
    border-radius: 35px 35px 35px 35px;
}

.game .board {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #4AA9D0;
    padding: 0 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.game .board .column {
    padding: 5px;
    background-color: #3987A7;
}

.game .board .column:hover {
    background-color: rgba(255, 255, 255, .25);
}

.game .board .column .spot {
    width: 40px;
    height: 40px;
    margin: 10px 0;
    border-radius: 25px;
    background-color: #FFF;
}

.game .ribbon {
    width: 100%;
    height: 20px;
    background-color: #28637B;
    border-radius: 1px 1px 9px 9px;
}

.game .players {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #FFF;
}

.game .players .spot {
    width: 33px;
    height: 33px;
    margin: 10px 5px;
    border-radius: 33px;
    background-color: #000000;
}

.game .players .spot.red {
    background-color: #EE6E52;
}

.game .players .spot.yellow {
    background-color: #F5CA45;
}

.game .players .player,
.game .players .direction {
    line-height: 33px;
    margin: 10px 0;
    color: #08a;
}

.game .players .player {
    flex: 2;
}

.game .players .player.p2 {
    text-align: right;
}

.game .players .player.p3 {
    text-align: left;
}

.game .players .direction {
    flex: 1;
    text-align: center;
}

.game .players .direction.left {
    flex: 0;
    width: 0;
    height: 0;
    border: 17px solid #F5CA45;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.game .players .direction.text {
    background-color: #F5CA45;
    color: #000;
    font-size: 12px;
    font-weight: bold;
}


.footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 5px;
}

.footer button {
    margin: 5px;
    border-radius: 3px;
    padding: 0 5px;
    font-size: 12px;
    cursor: pointer;
}

.footer button.fb {
    background-color: #3478E8;
    border-color: #3478E8;
    color: #FFF;
}

.footer button.embed {
    background-color: transparent;
    border-color: #3987A7;
    color: #3987A7;
}

.footer button.embed:hover {
    background-color: #3987A7;
    border-color: #3987A7;
    color: #FFF;
}