.header{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 1325px;
    margin: 1px 1px 160px 1px;
    border-radius: 25px 2px 25px 2px;
    background:  #ffffff;
}

h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 150px;
    margin: 1px 1px 40px 1px;
    border-radius: 25px 2px 25px 2px;
    background: #0084ff;
}

.nav, .buttonH {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 20px;
}

.nav > ul > li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}
.nav  a{
    display: flex;
    color: #000000;
    text-decoration: none;
}
