body{  
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

#container-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vh;
    height: 100%;
    margin: 10px;
    padding: 0;
    
}

#game-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 75%;
    margin: 200px;
    padding: 10px;
    background:  #163999;
    opacity: 80%;
    color: #fff; 
    border-radius: 35px 35px 35px 35px;
}

#game-menu h1{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0 0 20px;
    font-size: 22px;
}
#game-menu a {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: #a9a9a9;
}